<div>
  <p class="text-xl"><%= @top_trump.state_message :player_1 %></p>
</div>

<% if @top_trump.lead == nil %>
  <% if current_user == @top_trump.player1 %>
    <p>Waiting for Player 2 to join </p>
  <% else %>
    <%= button_to "Join As Player 2", top_trump_path(@top_trump),
      class: "text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800",
      method: :patch,
      params: {
        top_trump: {
          player2_id: current_user
        }
      } %>
  <% end %>
<% end %>
<!-- This is an example component -->
<div class="flex">
  <% @moves.each do |move| %>
    <% if move %>
      <div class="max-w-2xl mx-auto">
        <%= render move %>
        <% accepts = @top_trump.accepts.where(trick: @top_trump.current_trick, user: move.user) %>
        <% if move.user == current_user && move.card_category && @moves.count == 2 && @moves.second.card_category && @moves.second.persisted? && accepts.empty? %>
          <%= button_to "Accept", top_trump_accepts_path(top_trump_id: @top_trump.id),
            class: "text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<% @hands.each_with_index do |hand,index| %>
  <p><%= "Player#{index+1} has #{hand.cards.size} cards - #{hand.cards.map{|card| card.title}.join(', ')}" %></p>
<% end %>